<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for p in petitions %}
<h1>{{ p.title }}</h1>
<div>{{ p.content }}</div>
{% for file in p.petitionfile_set.all %}
<p style="height: 50px; background-color: aquamarine; line-height: 50px; text-align: center"><a href="{{ file.url | safe }}">{{ file.name }}</a></p>
{% endfor %}
{% for img in p.petitionimage_set.all %}
    <img src="{{ img.url | safe }}" />
{% endfor %}
{% endfor %}
</body>
</html>